*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-section{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #E4DCCF;
}

button{
    padding: 8px 15px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

span{
    font-size: 1.5rem;
}

select{
    cursor: pointer;
    padding: 5px 12px;
}

input{
    cursor: pointer;
}


#editor{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0EBE3;
    height: 90vh;
}

#text{
    padding: 30px 20px;
    font-size: 9px;
    margin-top: 10px;
    width: 50vw;
    height: 88vh;
    font-size: 12px;
}